.Booking_Menu{
    background-image: url(airplane.jpg);
    background-size: cover;
    padding-top: 4%;
    padding-bottom: 5%;
  /* min-height: 100px; */

}
#form{
    background-color: #000;
    height:400px;
    width:700px;
    margin:auto;
    padding:20px;
    opacity: 0.7;
}
#form h3{
    border-bottom: 2px solid #3399ff;
    width:210px;
    padding: 5px;
}
::placeholder{
    color:#fff
}
#input #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}

#input2 h3{
    border-bottom: 2px solid #3399ff;
    width:220px;
    padding: 5px;
}
#input3 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input3 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}

.box h1 {
    color: #917FB3;
    padding: 10px;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  
  }
  
  #heading {
    background-color: #FDE2F3;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    /* align-items: center; */
    border-bottom: 1px solid #F1F1F1;
    position: relative;
    padding-top: 1%;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  

  ::placeholder {
    color: grey;
    opacity: 1;
  }
  #Airline
  {
    text-align: left;
    /* display: flex; */
  }
  #Price
  {
    text-align: center;
    color: orangered;
    align-self: center;
  }
  #Type
  { position: absolute;
    text-align: left;
    margin-top: 9%;
  }
/* .ui-datepicker .ui-widget-content {
    background: white none;
    color: #fff;
} */
/* input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
} */
